/* Header Styling */
.custom-header {
    background-color: #2c3e50 !important; /* Dark blue background */
    transition: all 0.3s ease;
}

/* Navbar Links */
.navbar-brand,
.nav-link {
    color: #ecf0f1 !important;
}

.nav-link:hover {
    color: #e27929 !important;
}

/* Navbar Toggler */
.navbar-toggler {
    border-color: #ecf0f1;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(236, 240, 241, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Responsive Design */
@media (max-width: 992px) {
    #navbarNav {
        padding: 20px 0;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .nav-item {
        margin: 8px 0;
    }

    .search-form {
        margin-bottom: 15px;
    }
}
 